<div class="album">
    {%- for item in include.data -%}
        <a class="item" href="{{ item.link | default: '#' }}">
            {%- comment -%} modified xz {%- endcomment -%}
            <img src="{{ item.link }}" alt="{{ item.title }}">{{ item.title }}
        </a>
    {%- endfor -%}
</div>
